mat-card {
  min-width: 50%;
  margin-bottom: 1em;

  &:first-of-type{
     margin-top: 1em;
  }

}

button {
  width: 100%;
  border: 1px solid #3f51b5;
  color: #3f51b5 !important;
}

.green {
  color: #71A600;
}

.orange{
  color: #D89B00;
}

.red{
  color: #D80000;
}

:host {
  display: flex;
  justify-content: center;
}

