<div>
  <h1>Welcome!</h1>
  <p>
    Please make sure that you are in a quiet environment and that you can concentrate on the task.
  </p>
  <p>
    The experiment can not be interrupted once it has started, so please make sure that you have enough time to complete it.
  </p>
  <p style="color: red">
    <b> Only start the experiment if you have a mouse connected to your computer! </b>
  </p>
</div>
<div>
  <mat-form-field>
    <mat-label>Participant ID provided by the researcher</mat-label>
    <input matInput type="text" formControlName="participantId"/>
    <mat-error *ngIf="participantId.invalid">
      This field is required!
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="checkId()">Start experiment</button>
</div>
<div>
  <img src="assets/images/undraw_researching_re_fuod.svg"/>
</div>
