#new-experiment-button{
  left: 50%;
  transform: translateX(-50%);
  margin: 40px 0;
}

::ng-deep  .mat-mdc-tab-header { 
  width: 60% !important;
  align-self: center !important;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
}
