.green {
  color: #71A600;
}

.orange{
  color: #D89B00;
}

.red{
  color: #D80000;
}

.buttonsContainer {
  button {
     margin: 0 20px 0 0;
  }
}

h1 {
  font-size: 2.5em;
}

.buttonFlexContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  border:none;
  text-align: center;
  div > button {
    margin: 10px 10px;
  }
}

ng-container {
  position: relative;
}

.openExp:disabled {
  pointer-events: auto;
}

.paddedContainer {
  padding: 15px;
}
