:host {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: auto;
  width: 100%;
}

mat-tab-group {
  width: 30%;
  min-width: 350px;
}

#authDrawing {
  width: 50%;
}
