<form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()" class="form">
  <mat-form-field appearance="fill">
    <mat-label>Enter your old password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordForm.controls.oldPassword.invalid">
      <strong>Required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your new password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordForm.controls.newPassword.invalid">
      New password is <strong>required</strong> and at least 6 characters long!
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm your new password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirmation">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="passwordForm.controls.passwordConfirmation.invalid">
      The passwords do not match!
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">Change password</button>
</form>
