form {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 60%;
  min-height: 400px;
}

button[type="submit"] {
  margin: 40px auto 0 auto;
  width: auto;
  padding: 0 100px 0 100px;
}

div {
  padding: 20px 10px;
}

