<div>
  <h1>Change password</h1>
  <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your old password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldPassword">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.controls.oldPassword.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.oldPassword.hasError('minlength') && !passwordForm.controls.oldPassword.hasError('required') ">
        <strong>Password must be at least 6 characters long!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your new password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.controls.newPassword.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength') && !passwordForm.controls.newPassword.hasError('required') ">
        <strong>Password must be at least 6 characters long!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm your new password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirmation">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="passwordForm.hasError('misMatch') && passwordForm.controls.passwordConfirmation.touched">
        The passwords do not match!
    </mat-error>
    <button type="submit" mat-raised-button color="primary" [disabled]="passwordForm.invalid">Change password</button>
  </form>
</div>
