form {
  display: flex;
  flex-direction: column;
}
input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  border-radius: 10px;
  width: 23px;
  height: 20px;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 10px;
  padding: 0;
}

.groupContainer{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0;
}

.verticalContainer{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}