<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input type="text" matInput formControlName="username">
    <mat-error *ngIf="registerForm.controls.username.hasError('required')">
      <strong>Required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.controls.username.hasError('minlength') && !registerForm.controls.username.hasError('required') ">
      <strong>Username must be at least 3 characters long!</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="registerForm.controls.password.hasError('required')">
      <strong>Required</strong>
    </mat-error>
    <mat-error *ngIf="registerForm.controls.password.hasError('minlength') && !registerForm.controls.password.hasError('required') ">
      <strong>Password must be at least 6 characters long!</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirmation">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error>
    <strong *ngIf="registerForm.hasError('misMatch')&&registerForm.controls.passwordConfirmation.touched">The passwords do not match!</strong>
  </mat-error>
  <button type="submit" mat-raised-button color="primary" [disabled]="registerForm.invalid">Register</button>
</form>
