.canvas {
  cursor: default;
  user-select: none;
  border: 1px solid black;
}

#hiddenCanvas {
  z-index: -1;
  display: none;
}

#container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
