.canvas {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  user-select: none;
  border: 1px solid black;
}

#hiddenCanvas {
  z-index: -1;
  display: none;
}

#container {
  position: relative;
}
